/* reset styling start*/
*{
    margin: 0;
    padding: 0;
}
/* reset ends */
body{
    background-color: #f4acb7;
    color: black;
}

/* navbar section starts  */
/* bringing li items in one line */
.navbar{
    padding: 10px 10px;
    background-color:#ffe5d9;
    position: sticky;
    top:0px;
    
}
.navbar li{
    display: inline-block;
    list-style-type: none;
    padding: 20px;
    
}
/* removing underline and changing color */
.navbar a{
    text-decoration: none;
    color: black;
}
/* navbar section ends */
.left,.right{
    display: inline-block;
    width:50%;
}
.left{
    vertical-align: top;
}
img{
    width: 100%;
    border-radius: 20px;
    position: relative;
    bottom: 100px;
}
.main{
    margin: 10px 50px;
    background-color: #ffcad4;
    padding: 30px;
    border-radius: 5px;
}
h1{
    
    
    margin-left: 50px;
}