
.flex{
    display: flex;
   
}
.flex li {
    list-style-type: none;
    margin-right:20px;
    color: #fff;
}
.flex li a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    justify-content: end;
   justify-content:space-between ;
   background-color:#333;
   opacity: 0.8;
   color: white;
   align-items: center;
   
}
.hero{
    background-image: url(images/img.webp);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;

}
.contain{
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
}
.header{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.images{
    /* height: 150px; */
    flex-flow: row wrap;
    justify-content: center;
}
.images img{
    height: 150px;
   margin: 5px;
    width: 300px;
    
}
.t-parent{
    justify-content: center;
}
.teams{
    align-items: center;
    flex-direction: column;

}
.teams img{
    height: 300px;
    width: 400px;
    border-radius: 60%;
    margin: 20px;
    
}
.con-left,.con-right{
    flex-basis: 50%;
}
.sub{
    flex-direction: column;
    margin: 35px;
}
.con-right{
    background-color: lightgray;
}
.text-align{
    padding: 15px;
    text-align: center;
}
.bg{
    background-color: rgba(57, 57, 57, 0.995);
    color: white;
}
.img-gap>a{
    margin: 2rem 0.5rem 2rem 0.5rem;
}
.d-row{
    flex-direction: row;
}
.main{
    margin-bottom: 10px;
}
.common{
    justify-content: center;
}
.left1,.right2{
    background-color: rgba(206, 204, 204, 0.541);
    margin: 40px;
    /* border-radius: 10px 0px 0px 10px; */
    flex-basis: 50%;
    padding: 100px;
}

.right1,.left2{
    height: 400px;
}
.right1 > img{
    width: 500px;
    height: 70%;
    /* padding: 20px; */
    position: relative;
    left: -90px;
    top: 15%;
}
.left2>img{
    width: 570px;
    height: 70%;
    /* padding: 20px; */
    position: relative;
    left: 90px;
    top: 15%;
    /* align-self: center; */
}
.right1,.left2{
    background-color: white;
    align-self: center;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.hero *{
    z-index: 10;
    color: white;
}