.d-flex{
    display:flex;
}
.text-success{
    color: #28a745;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.btn-success{
    color: #fff;
    background-color: #28a745;;
}

.btn{
    border-radius:5px;
    text-decoration: none;
    padding: 10px;

}
#i-icon {
    color: #ffffff;
    background-color: #28A745;
    border-radius: 50%;
    padding:15px;
    
}

.left,.right{
    flex-basis: 50%;

}
.common{
    margin: 5px;
    padding: 5px;
}
.description{
    margin-top: 20px;
    margin-bottom: 20px;
}
.com-color{
    background-color: lightgray;
}



