.d-flex{
    display:flex;
}
.text-success{
    color: #28a745;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.btn-success{
    color: #fff;
    background-color: #28a745;;
}

.btn{
    border-radius:5px;
    text-decoration: none;
    padding: 10px;

}