body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#objective{
    flex-grow: 1;
    align-items: center;
    padding: 20px;
    
}
@media screen and (max-width:768px){
    .mid,.main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #objective{
        flex-basis: 60%;

    }
    .mid{
        flex-direction: row;
    }
    
    
}