.d-flex{
    display:flex;
    
}
#links{
    justify-content: end;
    flex-direction: column;
}
.mid{
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}